<!DOCTYPE html>
<html>
  <head>
    <title>Manazon</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="icon" 
      type="image/png" 
      href="<%= image_url('manazonfavicon.jpeg') %>">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
   <% if logged_in? %>
    <script type="text/javascript">
      window.currentUser =
        <%= render("api/users/user.json.jbuilder", user: current_user).html_safe %>
    </script>
   <% end %>
   <meta property="og:title" content="Manazon" />
     <meta property='og:image' content="<%= image_url('manazongithub.png') %>"/>
     <meta property="og:description"
       content="Manazon is a global e-commerce website that sells gym equipment, clothes and other fitness related items. Similar to its clone/counterpart, users should be able to log-in/log-out, see a list of items and then add items to a shopping cart"
     />
     <meta property="og:url"
       content="https://manazon.herokuapp.com/"
     />
    <script type="text/javascript">
        window.logo = "<%= image_url('invertlogo1.png') %>"
        window.bg = "<%= image_url('muscle.png') %>"
        window.mag = "<%= image_url('mag.png') %>"
        window.cart = "<%= image_url('cart.png') %>"
        window.manazonLogo = "<%= image_url('Manazonlogo2.png') %>"
        window.pin = "<%= image_url('pin-removebg-preview.png') %>"
        window.swipeIcons = "<%= image_url('swipeicon.png') %>"
        window.dumbbells = "<%= image_url('dumbbells.png') %>"
        window.ad = "<%= image_url('amazonad.png') %>"
        window.primelogo = "<%= image_url('newprimelogo2.png') %>"
        window.reviewpropic = "<%= image_url('reviewpropic.png') %>"
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
